{% load i18n %}

<!-- Mini Cart Start -->
<aside class="mini-cart" id="miniCart">
    <div class="mini-cart-wrapper">
        <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="mini-cart-inner">
            <h3 class="mini-cart__heading mb--40 mb-lg--30 text-right">{% translate 'Cart' %}</h3>
            <div class="mini-cart__content">
                <ul class="mini-cart__list text-right">
                    {% for item in cart %}
                        <li class="mini-cart__product d-flex justify-content-between">
                            <div class="mini-cart__product__image">
                                <a href="#">
                                    <img src="assets/img/products/prod-1-100x100.jpg">
                                </a>
                            </div>
                            <div class="mini-cart__product__content pt-2">
                                <span class="mini-cart__product__title d-flex flex-row justify-content-between">
                                    <a href="#">{{ item.product_obj.title }}</a>
                                    <a href="#" class="">
                                        &#10060;
                                    </a>
                                </span>
                                <span class="mini-cart__product__quantity">
                                    <span>{{ item.product_obj.price }}</span> &#215; <span>{{ item.quantity }}</span>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="mini-cart__total">
                    <span>{% translate 'Total' %}</span>
                    <span class="ammount">{{ cart.get_total_price }} {% translate '$' %}</span>
                </div>
                <div class="mini-cart__buttons">
                    <a href="{% url 'cart:cart_detail' %}" class="btn btn-fullwidth btn-bg-sand mb--20">{% translate 'Go to cart' %}</a>
                    {% if not cart.is_empty %}
                        <a href="{% url 'order_create' %}" class="btn btn-fullwidth btn-bg-sand">{% translate 'Checkout' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- Mini Cart End -->
