{% extends '_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block content %}
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">

        {% translate 'Order' as header_name %}
        {% include 'topheader.html' with header_name=header_name %}

        <div class="page-content-inner pb-5">
            <div class="container">
                <div class="row pt--50 pt-md--40 pt-sm--20">
    <!--                        <div class="col-12">-->
    <!--                            &lt;!&ndash; User Action Start &ndash;&gt;-->
    <!--                            <div class="user-actions user-actions__coupon">-->
    <!--                                <div class="message-box mb&#45;&#45;30">-->
    <!--                                    <p><i class="fa fa-exclamation-circle"></i> کد تخفیف دارید؟ <a class="expand-btn" href="#coupon_info">برای وارد کردن کد تخفیف اینجا کلیک کنید</a></p>-->
    <!--                                </div>-->
    <!--                                <div id="coupon_info" class="user-actions__form hide-in-default">-->
    <!--                                    <form action="#" class="form">-->
    <!--                                        <p>اگر کد تخفیف دارید در باکس زیر وارد کنید.</p>-->
    <!--                                        <div class="form__group d-sm-flex">-->
    <!--                                            <input type="text" name="coupon" id="coupon" class="form__input form__input&#45;&#45;2 mr&#45;&#45;20 mr-xs&#45;&#45;0" placeholder="کد تخفیف">-->
    <!--                                            <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">اعمال</button>-->
    <!--                                        </div>-->
    <!--                                    </form>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            &lt;!&ndash; User Action End &ndash;&gt;-->
    <!--                        </div>-->
                </div>
                <div class="row">
                    <!-- Checkout Area Start -->
                    <div class="col-lg-6">
                        <div class="checkout-title mt--10">
                            <h2>جزئیات سفارش</h2>
                        </div>
                        <div class="checkout-form">
                            <form action="" method="POST" class="form form--checkout">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                <div class="form-row mb--20">
                                    <div class="form__group col-md-6 mb-sm--30">
                                        <label for="billing_fname" class="form__label form__label--2">نام  <span class="required">*</span></label>
                                        <input type="text" name="{{ form.first_name.name }}" id="billing_fname" class="form__input form__input--2">
                                    </div>
                                    <div class="form__group col-md-6">
                                        <label for="billing_lname" class="form__label form__label--2">نام خانوادگی  <span class="required">*</span></label>
                                        <input type="text" name="{{ form.last_name.name }}" id="billing_lname" class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="billing_address" class="form__label form__label--2">آدرس</label>
                                        <input type="text" name="{{ form.address.name }}" id="billing_address" class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="billing_phone" class="form__label form__label--2">شماره همراه <span class="required">*</span></label>
                                        <input type="text" name="{{ form.phone_number.name }}" id="billing_phone" class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form__group col-12">
                                        <label for="orderNotes" class="form__label form__label--2">یادداشت شما</label>
                                        <textarea class="form__input form__input--2 form__input--textarea" id="orderNotes" name="{{ form.order_notes.name }}" placeholder="اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید"></textarea>
                                    </div>
                                </div>
                                <button class="btn" type="submit">{% translate 'Submit' %}</button>
                            </form>

                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                        <div class="order-details">
                            <div class="checkout-title mt--10">
                                <h2>سفارش شما</h2>
                            </div>
                            <div class="table-content table-responsive mb--30">
                                <table class="table order-table order-table-2">
                                    <thead>
                                        <tr>
                                            <th>محصول</th>
                                            <th class="text-right">قیمت نهایی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                            <tr>
                                                <th>{{ item.product_obj.title }}
                                                     <strong><span>&#10005;</span> {{ item.quantity|translate_number }}</strong>
                                                </th>
                                                <td class="text-right">{{ item.product_obj.price|intcomma:False|translate_number }} {% translate '$' %}</td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>مجموع</th>
                                            <td class="text-right">{{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="checkout-payment">
                                <h2 class="py-5">روش پرداخت</h2>
                                <form action="#" class="payment-form">
                                    <div class="payment-group mb--10">
                                        <div class="payment-radio">
                                            <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                            <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Area End -->
                </div>
            </div>
        </div>
    </div>

    {% include 'cart/cart_sidebar.html' %}

    <!-- Main Content Wrapper Start -->
{% endblock %}