{% load static %}

<!-- Footer Start-->
<footer class="footer">
    <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="footer-widget mb--50">
                        <div class="textwidget">
                            <img src="{% static 'img/codingyar_logo.png' %}" alt="Logo">
                        </div>
                    </div>
                    <div class="footer-widget mb--50 pb--1">
                        <ul class="footer-menu">
                            <li><a href="">درباره ما</a></li>
                            <li><a href="">قوانین و مقررات</a></li>
                            <li><a href="">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        Codingyar.com © | all rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End-->
